@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
@import url(//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.conteiner {
  max-width: 1200px;
  margin: 0px auto;
}

.content-header-background-img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 500px;
}

.content-header-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 114px;
  top: 63px;
}
.content-header-menu li {
  margin-right: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  font-size: 19.2px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.content-header-menu li span {
  text-decoration: underline;
  color: red;
}

.content-header-menu-list {
  font-size: 19.2px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.logo {
  top: 63px;
  left: 150px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20.4px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.content-header-tittle1 {
  top: 250px;
  position: absolute;
  font-size: 59.8px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.016em;
  color: #ffffff;
}

.content-header-title2 {
  top: 350px;
  position: absolute;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.016em;
  color: #ffffff;
}

.content-header-buttom {
  text-align: center;
  padding: 7px;
  margin-top: 470px;
  width: 218px;
  height: 57px;
  background-color: #e74c3c;
  border: 6px solid rgba(231, 76, 60, 0.58);
  font-size: 24.1px;
  line-height: 1.2;
  letter-spacing: -0.016em;
  color: #ffffff;
  position: absolute;
}

.mainlsit-conteiner {
  position: relative;
  padding-top: 160px;
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
}

.name {
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.016em;
  color: #e74c3c;
}

.text {
  margin: 0px auto;
  max-width: 755px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: -0.016em;
  color: #95a5a6;
  padding-bottom: 70px;
}

.list-logo {
  padding-bottom: 50px;
  width: 100%;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.016em;
  color: #e74c3c;
}

.logo-name1 {
  background-image: url(../img/icon_1.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  padding-right: 14px;
}

.logo-name2 {
  padding-right: 10px;
  background-image: url(../img/icon_2.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.logo-name3 {
  background-image: url(../img/icon_3.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.text-logo {
  text-align: justify;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  color: #95a5a6;
}
.text-logo p {
  height: 280px;
  width: 300px;
}

.list-logo span {
  padding-top: 100px;
}
.list-logo_content {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 940px;
}
.list-logo_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: top;
}
.list-logo_content li {
  margin-left: 350px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 160px;
  color: red;
}

.image-conteiner {
  padding-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images-row {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.images-row img {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  width: 500px;
  height: 400px;
}

.buttomimages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 7px;
  margin: 0px auto;
  width: 218px;
  height: 57px;
  background-color: #e74c3c;
  border: 6px solid rgba(231, 76, 60, 0.58);
  font-size: 24.1px;
  line-height: 1.2;
  letter-spacing: -0.016em;
  margin-bottom: 150px;
}

.text-buttom-cool {
  padding-left: 4px;
  color: #ffffff;
}

.text-arrow {
  padding-top: 3px;
  padding-left: 22px;
}

.text-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}